.Search input {
  width: 100%;
  font-size: 1.2rem;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  background: transparent;
  color: #333;
}
.Wrap {
  margin-top: 2rem;
  padding: 5rem;
}
.User {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
.User div:first-child {
  display: flex;
  flex: 1;
  align-items: center;
}
.User img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
}
.User button {
  padding: 0.5rem;
  border-radius: 25px;
  border: none;
  outline: none;
  background-color: #57b846;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 1px 3px 0 rgb(87 184 70 / 50%);
  margin-top: 1rem;
}
.User button:hover {
  background-color: #1877f2;
  box-shadow: 0 1px 10px 0 rgb(0 0 150 / 30%);
}
.User button:disabled,
.User button:disabled:hover {
  cursor: not-allowed;
  background-color: #cccccc;
  color: #666666;
  box-shadow: none;
}

@media screen and (max-width: 800px) {
  .Wrap {
    padding: 3rem;
  }
}
@media screen and (max-width: 500px) {
  .Wrap {
    box-shadow: none;
    padding: 2rem;
  }
}
