.Container {
  max-width: 60%;
  margin: auto;
}
.Main {
  min-height: 100vh;
  background: #f6f7f8;
  position: fixed;
  min-width: 100vw;
  z-index: -200;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.active h2 {
  color: rgba(156, 15, 15, 0.884);
  font-weight: bolder;
}
.active i {
  color: rgba(156, 15, 15, 0.884);
  font-weight: bolder;
}
.active img {
  padding: 2px;
  background: #fff;
  border: 1px solid rgba(53, 1, 1, 0.884);
}
.container {
  max-width: 975px;
  margin: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
