.UserProfile {
  display: flex;
  padding: 2rem;
  align-items: center;
}
.UserProfile .Left {
  flex: 4;
}
.UserProfile h1 {
  margin-bottom: 1rem;
  margin-left: 7px;
  word-break: break-all;
}
.UserProfile h1 + p {
  word-break: break-all;
}
.UserProfile .Edit_Icon {
  max-width: 35px;
  max-height: 35px;
  display: inline-block;
}
.UserProfile .Icon {
  display: flex;
  align-items: center;
}
.UserProfile .Edit,
.UserProfile .Logout {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(199, 199, 199);
  padding: 0 10px;
}
.UserProfile .Right {
  flex: 8;
}
.UserProfile i {
  font-size: 1.5rem;
}
.UserProfile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.UserProfile .Icons {
  display: flex;
  align-items: center;
}
.UserProfile .Icons div {
  margin-right: 1rem;
  cursor: pointer;
}
.UserProfile .Icons i {
  margin-right: 5px;
}
.UserProfile .Icons div span {
  display: inline-block;
}
.UserProfile {
  border-bottom: 1px solid rgb(230, 230, 230);
}
.UserProfile .UserData {
  display: flex;
  margin-top: 1rem;
}
.UserProfile .UserData .Followers,
.Following {
  background: rgb(124, 216, 219);
  font-weight: bold;
  padding: 5px;
  color: white;
  cursor: pointer;
}
.UserProfile .UserData p {
  margin-right: 1rem;
  padding: 5px;
  color: white;
}
.UserProfile .UserData p:first-child {
  background: none;
  color: black;
  padding: 5px;
}
.UserData span {
  margin-right: 5px;
  font-weight: bold;
}
.UserDataMobile {
  display: none;
}
.UserPosts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.UserPosts div img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .UserProfile .UserData {
    display: none;
  }
  .UserProfile .Left {
    flex: 6;
  }
  .UserDataMobile {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    border-bottom: 1px solid rgb(189, 187, 187);
  }
  .UserDataMobile span {
    margin-right: 5px;
    font-weight: bolder;
  }
  .UserProfile img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
  }
}
@media screen and (max-width: 650px) {
  .UserProfile .Icons div span {
    display: none;
  }
  .UserProfile .Left {
    flex: 6;
  }
  .UserProfile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .UserProfile .Icons i {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 480px) {
  .UserProfile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .UserProfile h1 {
    font-size: 1.4rem;
    margin-bottom: 0;
  }
  .UserProfile .Left {
    padding-right: 2rem;
  }
  .UserProfile .Icons i {
    font-size: 1.5rem;
  }
}
